In [215]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [216]:
dataset=pd.read_csv("house.csv")

In [217]:
dataset.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [218]:
dataset.shape

(21613, 21)

In [219]:
dataset.isna().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [220]:
dataset.dropna()
dataset.shape

(21613, 21)

In [221]:
dataset.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [222]:
dataset.describe(include="all")

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,21613,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,...,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
unique,NaN,372,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,20140623T000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,4.580302e+09,NaN,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,...,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,NaN,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,...,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,NaN,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,...,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,NaN,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,...,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,NaN,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,...,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,NaN,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,...,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,NaN,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,...,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [223]:
dataset.cov()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
id,8.274629e+18,-1.770198e+13,3.441285e+06,1.143211e+07,-3.238447e+10,-1.574060e+13,2.877549e+07,-677205.124699,2.555378e+07,-4.451878e+07,2.749138e+07,-2.582659e+10,-6.557877e+09,1.806504e+09,-1.953526e+10,-1.265812e+09,-753702.190562,8.425548e+06,-5.719541e+09,-1.090150e+13
price,-1.770198e+13,1.347824e+11,1.052863e+05,1.484815e+05,2.367154e+08,1.363437e+09,5.090800e+04,8460.643388,1.117730e+05,8.687030e+03,2.880265e+05,1.841014e+08,5.261406e+07,5.824484e+05,1.864486e+07,-1.045072e+06,15617.422517,1.118118e+03,1.472964e+08,8.264591e+08
bedrooms,3.441285e+06,1.052863e+05,8.650150e-01,3.695271e-01,4.925960e+02,1.221324e+03,8.810446e-02,-0.000530,5.668416e-02,1.723221e-02,3.902536e-01,3.678361e+02,1.247599e+02,4.212004e+00,7.038678e+00,-7.597239e+00,-0.001151,1.695825e-02,2.496518e+02,7.426446e+02
bathrooms,1.143211e+07,1.484815e+05,3.695271e-01,5.931513e-01,5.338120e+02,2.798944e+03,2.082114e-01,0.004247,1.108004e-01,-6.263824e-02,6.020054e-01,4.370876e+02,9.672443e+01,1.144733e+01,1.569654e+01,-8.400840e+00,0.002622,2.419130e-02,3.001611e+02,1.833182e+03
sqft_living,-3.238447e+10,2.367154e+08,4.925960e+02,5.338120e+02,8.435337e+05,6.574684e+06,1.755404e+02,8.249461,2.003143e+02,-3.511460e+01,8.234077e+02,6.666978e+05,1.768358e+05,8.580238e+03,2.042442e+04,-9.800232e+03,6.685035,3.107108e+01,4.761601e+05,4.596302e+06
sqft_lot,-1.574060e+13,1.363437e+09,1.221324e+03,2.798944e+03,6.574684e+06,1.715659e+09,-1.163286e+02,77.418670,2.371393e+03,-2.414616e+02,5.531997e+03,6.294462e+06,2.802218e+05,6.458085e+04,1.271708e+05,-2.871637e+05,-491.766060,1.338837e+03,4.105319e+06,8.126540e+08
floors,2.877549e+07,5.090800e+04,8.810446e-02,2.082114e-01,1.755404e+02,-1.163286e+02,2.915880e-01,0.001107,1.218394e-02,-9.268648e-02,2.908243e-01,2.342603e+02,-5.871985e+01,7.761250e+00,1.374814e+00,-1.708121e+00,0.003712,9.537583e-03,1.035866e+02,-1.661524e+02
waterfront,-6.772051e+05,8.460643e+03,-5.296680e-04,4.247388e-03,8.249461e+00,7.741867e+01,1.107146e-03,0.007485,2.664300e-02,9.375805e-04,8.417993e-03,5.163720e+00,3.085741e+00,-6.648330e-02,3.227949e+00,1.401912e-01,-0.000171,-5.106370e-04,5.127103e+00,7.252979e+01
view,2.555378e+07,1.117730e+05,5.668416e-02,1.108004e-01,2.003143e+02,2.371393e+03,1.218394e-02,0.026643,5.872426e-01,2.293397e-02,2.263832e-01,1.063870e+02,9.392727e+01,-1.202897e+00,3.198718e+01,3.478060e+00,0.000654,-8.460837e-03,1.472943e+02,1.518526e+03
condition,-4.451878e+07,8.687030e+03,1.723221e-02,-6.263824e-02,-3.511460e+01,-2.414616e+02,-9.268648e-02,0.000938,2.293397e-02,4.234665e-01,-1.106640e-01,-8.525727e+01,5.014267e+01,-6.908312e+00,-1.584488e+01,1.053428e-01,-0.001347,-9.760027e-03,-4.140089e+01,-6.050935e+01
grade,2.749138e+07,2.880265e+05,3.902536e-01,6.020054e-01,8.234077e+02,5.531997e+03,2.908243e-01,0.008418,2.263832e-01,-1.106640e-01,1.381703e+00,7.358054e+02,8.760226e+01,1.543240e+01,6.805809e+00,-1.162652e+01,0.018582,3.283811e-02,5.745907e+02,3.827254e+03
sqft_above,-2.582659e+10,1.841014e+08,3.678361e+02,4.370876e+02,6.666978e+05,6.294462e+06,2.342603e+02,5.163720,1.063870e+02,-8.525727e+01,7.358054e+02,6.857347e+05,-1.903683e+04,1.031084e+04,7.745115e+03,-1.157255e+04,-0.093688,4.009385e+01,4.153850e+05,4.387534e+06
sqft_basement,-6.557877e+09,5.261406e+07,1.247599e+02,9.672443e+01,1.768358e+05,2.802218e+05,-5.871985e+01,3.085741,9.392727e+01,5.014267e+01,8.760226e+01,-1.903683e+04,1.958727e+05,-1.730605e+03,1.267930e+04,1.772320e+03,6.778723,-9.022770e+00,6.077510e+04,2.087679e+05
yr_built,1.806504e+09,5.824484e+05,4.212004e+00,1.144733e+01,8.580238e+03,6.458085e+04,7.761250e+00,-0.066483,-1.202897e+00,-6.908312e+00,1.543240e+01,1.031084e+04,-1.730605e+03,8.627973e+02,-2.653213e+03,-5.451483e+02,-0.602871,1.693346e+00,6.567732e+03,5.690946e+04
yr_renovated,-1.953526e+10,1.864486e+07,7.038678e+00,1.569654e+01,2.042442e+04,1.271708e+05,1.374814e+00,3.227949,3.198718e+01,-1.584488e+01,6.805809e+00,7.745115e+03,1.267930e+04,-2.653213e+03,1.613462e+05,1.383153e+03,1.636217,-3.867676e+00,-7.357744e+02,8.613634e+04
zipcode,-1.265812e+09,-1.045072e+06,-7.597239e+00,-8.400840e+00,-9.800232e+03,-2.871637e+05,-1.708121e+00,0.140191,3.478060e+00,1.053428e-01,-1.162652e+01,-1.157255e+04,1.772320e+03,-5.451483e+02,1.383153e+03,2.862788e+03,1.979855,-4.250293e+00,-1.023266e+04,-2.150769e+05
lat,-7.537022e+05,1.561742e+04,-1.150964e-03,2.622344e-03,6.685035e+00,-4.917661e+02,3.712271e-03,-0.000171,6.537452e-04,-1.347221e-03,1.858155e-02,-9.368779e-02,6.778723e+00,-6.028713e-01,1.636217e+00,1.979855e+00,0.019200,-2.644336e-03,4.640056e+00,-3.269542e+02
long,8.425548e+06,1.118118e+03,1.695825e-02,2.419130e-02,3.107108e+01,1.338837e+03,9.537583e-03,-0.000511,-8.460837e-03,-9.760027e-03,3.283811e-02,4.009385e+01,-9.022770e+00,1.693346e+00,-3.867676e+00,-4.250293e+00,-0.002644,1.983262e-02,3.229692e+01,9.784167e+02
sqft_living15,-5.719541e+09,1.472964e+08,2.496518e+02,3.001611e+02,4.761601e+05,4.105319e+06,1.035866e+02,5.127103,1.472943e+02,-4.140089e+01,5.745907e+02,4.153850e+05,6.077510e+04,6.567732e+03,-7.357744e+02,-1.023266e+04,4.640056,3.229692e+01,4.697612e+05,3.428259e+06
sqft_lot15,-1.090150e+13,8.264591e+08,7.426446e+02,1.833182e+03,4.596302e+06,8.126540e+08,-1.661524e+02,72.529786,1.518526e+03,-6.050935e+01,3.827254e+03,4.387534e+06,2.087679e+05,5.690946e+04,8.613634e+04,-2.150769e+05,-326.954187,9.784167e+02,3.428259e+06,7.455182e+08

In [224]:
dataset=dataset.drop('date',axis=1)
dataset=dataset.drop('id',axis=1)

In [225]:
X= dataset[[ 'bedrooms','sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15','sqft_lot15','grade']]
y=dataset['price']

In [226]:
y=dataset.iloc[:,0:1].values
x=dataset.iloc[:,1:].values

In [227]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [228]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [229]:
y_pred = regressor.predict(X_test)

In [230]:
y_pred

array([[ 413209.09018345],
       [1530886.48243833],
       [ 556072.28417026],
       ...,
       [ 311433.69597616],
       [ 225237.7602503 ],
       [ 161792.71926347]])

In [231]:
y_pred

array([[ 413209.09018345],
       [1530886.48243833],
       [ 556072.28417026],
       ...,
       [ 311433.69597616],
       [ 225237.7602503 ],
       [ 161792.71926347]])

In [232]:
regressor.score(X_test,y_test)

0.6847924516905711

In [236]:
dataset = pd.DataFrame({'Actual': list(y_test), 'Predicted': list(y_pred)})
dataset

           Actual             Predicted
0      [297000.0]  [413209.09018345363]
1     [1578000.0]  [1530886.4824383305]
2      [562100.0]   [556072.2841702554]
3      [631500.0]   [586545.4125810708]
4      [780000.0]   [989861.9897739354]
5      [485000.0]  [362236.36110639945]
6      [340000.0]   [358545.1292514014]
7      [335606.0]  [379602.67133001494]
8      [425000.0]   [573880.0951091197]
9      [490000.0]  [1228725.5777455904]
10     [732000.0]   [733950.4923603752]
11     [389700.0]  [355456.96808203356]
12     [450000.0]   [410272.6098555671]
13     [357000.0]   [287431.1245946768]
14     [960000.0]   [861690.7870259971]
15     [257000.0]  [365285.89357546833]
16     [448000.0]  [336547.25009886036]
17     [610000.0]   [665841.3879840843]
18     [230950.0]   [335093.4516337316]
19     [377500.0]   [542163.1349265763]
20     [375000.0]   [321727.2568487162]
21     [410000.0]  [372515.56655100966]
22     [459000.0]   [594762.4118190209]
23     [190000.0]  [165393.74440753227]
24     [585000.0]   [592947.4812356406]
25     [280000.0]  [299895.51567172003]
26     [500000.0]   [443967.4852493154]
27     [465000.0]   [650914.2349336242]
28     [802000.0]   [897584.1664900967]
29     [440000.0]  [500152.12771183345]
...           ...                   ...
6454   [980000.0]   [879273.0912606253]
6455   [520000.0]   [535351.6832491343]
6456   [325000.0]   [530414.7343512892]
6457   [770000.0]  [439674.29738281644]
6458   [995000.0]  [1503113.9514082992]
6459   [465750.0]   [698176.0764207289]
6460   [575000.0]  [490496.62585031893]
6461   [425000.0]   [427279.9136692579]
6462   [398500.0]   [532256.1538094725]
6463   [270500.0]  [229854.38035451062]
6464   [310000.0]   [266591.2826573206]
6465   [190000.0]   [202611.2987002004]
6466   [492000.0]   [615586.0570082759]
6467   [235000.0]   [253868.4021862063]
6468   [765000.0]   [966942.1924942976]
6469   [530000.0]   [513225.8416830264]
6470   [525000.0]    [728952.290639143]
6471   [226000.0]  [371467.44162669126]
6472   [624000.0]   [644528.9873184788]
6473   [500000.0]   [522218.2895711167]
6474   [467500.0]   [491209.5341408588]
6475   [203000.0]  [199957.97582120216]
6476   [446000.0]  [420190.30930958176]
6477   [206000.0]  [192421.42234081496]
6478   [529000.0]   [663575.5087418002]
6479  [1100000.0]  [479379.56388017116]
6480   [700000.0]   [554427.0246610454]
6481   [380000.0]   [311433.6959761551]
6482   [268000.0]  [225237.76025030203]
6483   [206000.0]   [161792.7192634698]

[6484 rows x 2 columns]

In [233]:
from sklearn import metrics

print('Mean Absolute Error: ', metrics.mean_absolute_error(y_test, y_pred))

print('Mean Squared Error: ', metrics.mean_squared_error(y_test, y_pred))

print('Root Mean Squared Error: ', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error:  124639.20739678002
Mean Squared Error:  43275459478.03341
Root Mean Squared Error:  208027.5449983329