In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df1=pd.read_csv("titanictest.csv")
df2=pd.read_csv("titanictrain.csv")
df=pd.concat([df1,df2],ignore_index=True)

C:\Users\PUNIA\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  This is separate from the ipykernel package so we can avoid doing imports until

In [4]:
df.head()

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket
0,34.5,NaN,Q,7.8292,"Kelly, Mr. James",0,892,3,male,0,NaN,330911
1,47.0,NaN,S,7.0000,"Wilkes, Mrs. James (Ellen Needs)",0,893,3,female,1,NaN,363272
2,62.0,NaN,Q,9.6875,"Myles, Mr. Thomas Francis",0,894,2,male,0,NaN,240276
3,27.0,NaN,S,8.6625,"Wirz, Mr. Albert",0,895,3,male,0,NaN,315154
4,22.0,NaN,S,12.2875,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",1,896,3,female,1,NaN,3101298

In [5]:
df.shape

(1309, 12)

In [6]:
df.isna().sum()

Age             263
Cabin          1014
Embarked          2
Fare              1
Name              0
Parch             0
PassengerId       0
Pclass            0
Sex               0
SibSp             0
Survived        418
Ticket            0
dtype: int64

In [7]:
df=df[df['Survived'].isna()==False]

In [8]:
df.isna().sum()

Age            177
Cabin          687
Embarked         2
Fare             0
Name             0
Parch            0
PassengerId      0
Pclass           0
Sex              0
SibSp            0
Survived         0
Ticket           0
dtype: int64

In [9]:
df['Survived'].value_counts()

0.0    549
1.0    342
Name: Survived, dtype: int64

In [10]:
df['has_cabin']=df['Cabin'].notna()

In [11]:
df['has_cabin']

418     False
419      True
420     False
421      True
422     False
423     False
424      True
425     False
426     False
427     False
428      True
429      True
430     False
431     False
432     False
433     False
434     False
435     False
436     False
437     False
438     False
439      True
440     False
441      True
442     False
443     False
444     False
445      True
446     False
447     False
        ...
1279    False
1280     True
1281    False
1282    False
1283    False
1284    False
1285     True
1286    False
1287    False
1288    False
1289     True
1290     True
1291    False
1292    False
1293    False
1294    False
1295    False
1296    False
1297     True
1298    False
1299    False
1300    False
1301    False
1302    False
1303    False
1304    False
1305     True
1306    False
1307     True
1308    False
Name: has_cabin, Length: 891, dtype: bool

In [12]:
import re
df['Title']='Special'
for key,value in df.iterrows():
    df['Title'][key]=re.findall(r', \w{1,}.',value['Name'])[0][2:]

C:\Users\PUNIA\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [13]:
df=df.fillna(method='ffill')

In [14]:
df['Categorial_age']=pd.qcut(df['Age'],q=4,labels=False)

In [16]:
df['Age']

418     22.0
419     38.0
420     26.0
421     35.0
422     35.0
423     35.0
424     54.0
425      2.0
426     27.0
427     14.0
428      4.0
429     58.0
430     20.0
431     39.0
432     14.0
433     55.0
434      2.0
435      2.0
436     31.0
437     31.0
438     35.0
439     34.0
440     15.0
441     28.0
442      8.0
443     38.0
444     38.0
445     19.0
446     19.0
447     19.0
        ...
1279    21.0
1280    48.0
1281    48.0
1282    24.0
1283    42.0
1284    27.0
1285    31.0
1286    31.0
1287     4.0
1288    26.0
1289    47.0
1290    33.0
1291    47.0
1292    28.0
1293    15.0
1294    20.0
1295    19.0
1296    19.0
1297    56.0
1298    25.0
1299    33.0
1300    22.0
1301    28.0
1302    25.0
1303    39.0
1304    27.0
1305    19.0
1306    19.0
1307    26.0
1308    32.0
Name: Age, Length: 891, dtype: float64

In [17]:
df['Categorial_age']

418     1
419     2
420     1
421     2
422     2
423     2
424     3
425     0
426     1
427     0
428     0
429     3
430     0
431     3
432     0
433     3
434     0
435     0
436     2
437     2
438     2
439     2
440     0
441     1
442     0
443     2
444     2
445     0
446     0
447     0
       ..
1279    1
1280    3
1281    3
1282    1
1283    3
1284    1
1285    2
1286    2
1287    0
1288    1
1289    3
1290    2
1291    3
1292    1
1293    0
1294    0
1295    0
1296    0
1297    3
1298    1
1299    2
1300    1
1301    1
1302    1
1303    3
1304    1
1305    0
1306    0
1307    1
1308    2
Name: Categorial_age, Length: 891, dtype: int64

In [18]:
df['Categorial_fare']=pd.qcut(df['Fare'],q=4,labels=False)

In [19]:
df['Categorial_fare']

418     0
419     3
420     1
421     3
422     1
423     1
424     3
425     2
426     1
427     2
428     2
429     2
430     1
431     3
432     0
433     2
434     2
435     1
436     2
437     0
438     2
439     1
440     1
441     3
442     2
443     3
444     0
445     3
446     0
447     0
       ..
1279    1
1280    2
1281    3
1282    1
1283    1
1284    1
1285    3
1286    1
1287    1
1288    0
1289    3
1290    0
1291    1
1292    2
1293    0
1294    1
1295    0
1296    0
1297    3
1298    2
1299    0
1300    1
1301    1
1302    0
1303    2
1304    1
1305    2
1306    2
1307    2
1308    0
Name: Categorial_fare, Length: 891, dtype: int64

In [20]:
df=df.drop(['Cabin', 'Name', 'PassengerId', 'Ticket', 'Age', 'Fare', 'SibSp', 'Parch'],axis=1)

In [21]:
df=pd.get_dummies(df)

In [22]:
x=df.iloc[:,[0,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26]]

In [23]:
y=df.iloc[:,[1]]

In [24]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=0)

print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(668, 26)
(668, 1)
(223, 26)
(223, 1)

In [25]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [26]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(X_train, y_train)

C:\Users\PUNIA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [27]:
y_pred = classifier.predict(X_test)

In [28]:
from sklearn.metrics import accuracy_score

In [29]:
accuracy_score(y_test,y_pred)

0.7937219730941704